<footer class="mt-sm-10 mt-md-10">
</footer>

{% comment %}
Lottie for SVG animations
{% endcomment %}
<script src="{{ site.url }}{{ site.baseurl }}{{ '/assets/foundation/dist/assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ site.url }}{{ site.baseurl }}{{ '/assets/foundation/dist/assets/js/what-input.min.js' | relative_url }}"></script>
<script src="{{ site.url }}{{ site.baseurl }}{{ '/assets/foundation/dist/assets/js/app.js' | relative_url }}"></script>
<script src="{{ site.url }}{{ site.baseurl }}{{ '/assets/foundation/dist/assets/js/customjs.js' | relative_url }}"></script>
