<header>
  <nav>
    <div class="title-bar" data-responsive-toggle="primary-nav" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle="primary-nav"></button>
        <h2 class="title-bar-title menu-text color-white font-wide font-bold padding-left-1"><a href="{{ site.url }}" class="color-white hover-underline">{{ site.title }}</a></h2>
      </div>
      
      <div class="top-bar" id="primary-nav">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text color-white font-bold font-wide hide-for-small-only"><h4><a href="{{ site.url }}" class="color-white hover-underline">{{ site.title }}</a></h4></li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><a href="/research" class="color-white hover-underline">Research</a></li>
            <li><a href="/publications" class="color-white hover-underline">Publications</a></li>
            <li><a href="/team" class="color-white hover-underline">Team</a></li>
            <li><a href="/teaching" class="color-white hover-underline">Teaching</a></li>
            <li><a href="/join" class="color-white hover-underline">Join</a></li>
            <li><a href="/contact" class="color-white hover-underline">Contact</a></li>
          </ul>
        </div>
      </div>
  </nav>
</header>