/**
* @author Akash Kumar Sharma <vyom@vyom.site>
*
*/

// TODO: add variable fonts
body {
    font-family: 'Heebo', sans-serif;
}

/**
* Text alignment
*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

// text colors
.text-color-black {
    color: #000000;
}

.text-color-gray {
    color: #404040;
}