/**
* @author Akash Kumar Sharma <vyom@vyom.site>
*
*/

// Lists
$list_num_one_to_twelve: 1 2 3 4 5 6 7 8 9 10 11 12;

// Minimum pixel count used to create margins, padding etc
$min_pixel_count: 10px;

// browser prefix
$browser_prefix: -webkit -moz -o -ms;

// viewport sizes
$viewports: sm md lg xlg xxlg;